@charset "UTF-8";

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: aqua;
    height: 45px;
   
    
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 45px;
    align-items: center;
}

div.pesquisa {
    display: flex;
    padding-right: 15px;
}

div.pesquisa > li {
    padding: 14px;
}

div.maca {
   padding-left: 15px;
}

article.iphone {
    
    display: flex;
    width: 100%;
   
    justify-content: center;
    
}

article.iphone > picture {
    display: flex;
    overflow: hidden;
    justify-content: center;
    width:  900px;
}

article.iphone > picture > img {
    
    height: 500px;
    object-fit: cover;
}

article.iphone > div {
    position: absolute;
    padding-top: 30px;
    text-align: center;
}

article.iphone > div > h2 {
   font-size: 1.9em;
   
}

article.iphone > div > p {
    padding-top: 10px;
    font-size: 1.2em;
    padding-bottom: 20px;
}

article.iphone > div > a {
    text-decoration: none;
    background-color: #0076DF;
    border-radius: 20px;
    padding: 7px;
    color: white;
}