@charset "UTF-8";

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: aqua;
    height: 45px;
   
    
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 45px;
    align-items: center;
}

div.pesquisa {
    display: flex;
    padding-right: 15px;
}

div.pesquisa > li {
    padding: 14px;
}

div.maca {
   padding-left: 15px;
}

article.iphone > picture {
    overflow: hidden;
}

article.iphone > picture > img{
    
    height: 500px;
    max-width: none;
    
}