@charset "UTF-8";

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    
    height: 45px;
   
    
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 45px;
    align-items: center;
}

div.pesquisa {
    display: flex;
    padding-right: 15px;
}

div.pesquisa > li {
    padding: 14px;
}

div.maca {
   padding-left: 15px;
}

article {
    
    display: flex;
    width: 100%;
    margin-bottom: 12px;
    justify-content: center;
    
}

article > picture {
    display: flex;
    overflow: hidden;
    justify-content: center;
    
}

article > picture > img {
    
    height: 500px;
    object-fit: cover;
}

article > div {
    position: absolute;
    padding-top: 30px;
    text-align: center;
}

article > div > h2 {
   font-size: 1.9em;
   color: rgba(0, 0, 0, 0.842);
}

article > div > h2 > span {
   font-family: cursive;
   color: #196FBE;
}

article > div > p {
    padding-top: 10px;
    font-size: 1.3em;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.795);
}

article > div > a.saiba {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    background-color: #0076DF;
    border-radius: 20px;
    height: 37px;
    padding: 0 15px;
    color: white;
    font-size: 0.9em;
    margin-right: 10px;
}

article > div > a.comprar {
    display: inline-flex;
    align-items: center;
    height: 37px;
    text-decoration: none;
    border: 1px solid #0076DF;
    border-radius: 20px;
    padding: 0 15px;
    color: #0076DF;
    font-size: 0.9em;
}

article > div > a.comprar:hover {
    background-color: #0076DF;
    color: white;
}


article.watch > div > h2 {
    font-weight: 500;
   font-size: 1.5em;
   color: rgba(0, 0, 0, 0.842);
}

article.watch > div > h2 > span {
    color: black;
}

article.black > div > h2 {
    color: white;
}

article.black > div > p {
    color: white;
}

article > div > p > sup {
    font-size: 12px;
}

article#watch > div > h2 {
    font-weight: 500;
   font-size: 1.5em;
   
}

article#watch > div > h2 > span {
    color: white;
}